@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block; }

html, body, .container {
  height: 100%; }

body {
  background-color: #f2f2f2;
  font: 16px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  line-height: 1.5em; }

.container {
  max-width: 1770px;
  margin: 0 auto; }

.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  clear: both; }

#outer {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex; }
  #outer .main {
    width: 100%;
    margin: 20px 0; }

#left {
  margin: 20px 20px 20px 0; }

@media screen and (max-width: 768px) {
  #left {
    display: none; }
  .main .archive .post-archive {
    padding: 20px 40px; }
    .main .archive .post-archive .post-item .post-date {
      font-size: 1em; }
    .main .archive .post-archive .post-item .post-title {
      font-size: .5em; } }

#header {
  display: block;
  background-color: #fff;
  width: 100%;
  height: 64px;
  line-height: 64px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  #header a {
    color: #565a5f; }
    #header a:hover {
      color: #1a218a; }
  #header #header-main {
    height: 100%;
    margin: 0 auto; }
    #header #header-main .outer {
      height: 100%; }
    #header #header-main .blog-title {
      display: block;
      margin: 0 15px;
      float: left; }
    #header #header-main .navbar {
      float: left; }
      #header #header-main .navbar ul {
        display: flex; }
        #header #header-main .navbar ul li {
          margin: 0 15px; }

.posts .post {
  background-color: #fff;
  border: #ddd solid 1px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }
  .posts .post:last-child {
    margin-bottom: 0; }
  .posts .post .post-title {
    font-size: 1.7em;
    margin-bottom: 10px; }
    .posts .post .post-title .post-title-link {
      color: #565a5f; }
      .posts .post .post-title .post-title-link:hover {
        color: #4c55d4; }
  .posts .post .post-meta {
    margin-top: 10px;
    color: #999999; }

#article {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  position: relative;
  /* 表格处理 */
  /* #################### 文章 #################### */ }
  #article .post-author {
    font-size: 9px;
    position: absolute;
    top: 60px;
    right: 30px;
    color: #999; }
  #article .post-time {
    font-size: 9px;
    position: absolute;
    top: 40px;
    right: 30px;
    color: #999; }
  #article * {
    margin: 10px 0; }
  #article h1,
  #article h2,
  #article h3,
  #article h4,
  #article h5,
  #article h6 {
    line-height: 40px;
    margin: 20px 0 15px;
    padding-bottom: 10px; }
  #article .title {
    font-size: 32px;
    font-weight: 900;
    border-bottom: #4c55d4 3px solid; }
  #article h2 {
    font-size: 25px;
    border-bottom: 1px solid #ddd; }
  #article h3 {
    font-size: 22px; }
  #article a {
    color: #d47f87;
    text-decoration: none; }
  #article a:hover {
    border-bottom: 1px solid; }
  #article h1 a:hover {
    border-bottom: none; }
  #article code {
    border-radius: 3px;
    box-shadow: 0px 0px 5px #999; }
  #article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #999;
    display: block;
    margin: auto; }
  #article pre {
    font-size: 14px;
    margin: 20px 0 15px; }
  #article p {
    margin: 0 0 10px;
    line-height: 30px; }
  #article blockquote {
    border-left: 3px #d47f87 solid;
    padding-left: 20px; }
  #article table {
    width: 100%;
    border: 0;
    margin: 20px 0 50px 0;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 35px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #999; }
  #article table th {
    background: #73b1e0;
    font-weight: 800;
    font-size: 18px;
    text-align: left;
    line-height: 35px;
    color: #FFF; }
  #article table tr:nth-child(odd) {
    background: #F4F4F4; }
  #article table tr:hover,
  #article table td:hover {
    background: #badbf5;
    color: #FFF; }
  #article table td, #article table th {
    padding: 5px 20px 5px 20px; }
  #article table tr:first-child th:first-child {
    border-top-left-radius: 3px; }
  #article table tr:first-child th:last-child {
    border-top-right-radius: 3px; }
  #article table tr:last-child td:first-child {
    border-bottom-left-radius: 3px; }
  #article table tr:last-child td:last-child {
    border-bottom-right-radius: 3px; }

.page-nav {
  text-align: center;
  margin: 20px 0; }
  .page-nav a {
    color: #999; }
  .page-nav .page-number {
    width: 30px; }
  .page-nav .extend {
    width: 60px; }
  .page-nav .page-number .extend {
    display: inline-block;
    height: 30px;
    margin: 0 5px;
    line-height: 30px; }
    .page-nav .page-number .extend:hover {
      background-color: #4c55d4; }
  .page-nav .current {
    color: #4c55d4; }

#footer {
  background-color: #4c55d4;
  width: 100%;
  box-shadow: 0 -2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 0; }
  #footer .support, #footer .visitedNum {
    text-align: center; }
    #footer .support span, #footer .visitedNum span {
      color: #ddd; }

.author_info {
  position: relative;
  width: 300px;
  text-align: center;
  padding-bottom: 100px;
  color: #565a5f; }
  .author_info .logo {
    width: 300px;
    height: 300px;
    background-image: url("images/QR_CODE.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px; }

.blogState {
  display: flex;
  text-align: center; }
  .blogState .stateBox {
    padding: 20px;
    margin: 0 auto;
    color: #565a5f; }
    .blogState .stateBox .num {
      color: #4c55d4; }

.category {
  position: relative;
  width: 300px; }
  .category .title {
    padding: 20px 20px 0 20px;
    color: #565a5f; }
  .category .category-list-item {
    padding: 20px;
    display: flex;
    justify-content: space-between; }
    .category .category-list-item .category-list-link {
      display: block;
      color: #565a5f; }
      .category .category-list-item .category-list-link:hover {
        color: #4c55d4; }
    .category .category-list-item .category-list-count {
      display: block;
      color: #ddd;
      background-color: #4c55d4;
      border: #ddd 1px solid;
      padding: 0 10px;
      border-radius: 30%; }

.tagCloud {
  padding: 20px; }
  .tagCloud .title {
    color: #565a5f;
    padding-bottom: 20px; }
  .tagCloud a {
    color: #4c55d4; }

.author_info, .blogState, .category, .tagCloud, .board {
  background-color: #fff;
  border: #ddd solid 1px;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; }

.archive {
  background-color: #fff;
  border: #ddd solid 1px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }
  .archive .post-archive {
    padding: 50px 100px; }
    .archive .post-archive .post-item .post-date {
      font-size: 2em;
      color: #4c55d4;
      font-weight: 700;
      line-height: 2em; }
      .archive .post-archive .post-item .post-date::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ddd; }
    .archive .post-archive .post-item .post-title {
      text-indent: 1.5em;
      font-size: 1.5em;
      line-height: 2em; }
      .archive .post-archive .post-item .post-title:link, .archive .post-archive .post-item .post-title:visited, .archive .post-archive .post-item .post-title:active {
        color: #000; }
      .archive .post-archive .post-item .post-title:hover {
        color: #4c55d4; }
